<div class="mb-3">
    <a href="insert.php" class="btn btn-primary">Založit nového zaměstnance</a>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Jméno</th>
        <th scope="col">Zaměstnání</th>
        <th scope="col">Výplata</th>
        <th scope="col">Místnost</th>
        <th scope="col" colspan="2">Akce</th>
    </tr>
    </thead>
    <tbody>
    {{#employees}}
        <tr>
            <td><a href="detail.php?employee_id={{employee_id}}">{{name}} {{surname}}</a></td>
            <td>{{job}}</td>
            <td>{{wage}}</td>
            <td>{{room_name}}</td>
            <td>
                <form method="get" action="update.php">
                    <button type="submit" class="btn btn-info" {{^isAdmin}}disabled{{/isAdmin}}>Upravit</button>
                    <input type="hidden" name="employee_id" value="{{employee_id}}">
                </form>
            </td>
            <td>
                <form method="post" action="delete.php" onsubmit="return confirm('Opravdu chcete smazat zaměstnance?')">
                    <button type="submit" class="btn btn-danger" {{^isAdmin}}disabled{{/isAdmin}}>Smazat</button>
                    <input type="hidden" name="employee_id" value="{{employee_id}}">
                </form>
            </td>
        </tr>
    {{/employees}}
    </tbody>
</table>
